//FONTS
$texte-typo: "Manrope", sans-serif;
$title-typo: "Anton", sans-serif;

//COLORS
$color-dark: #000;
$color-light: #fff;
$color-grey: #7a7a7a;
$color-light-grey: #c6c6c6;
$color-primary: #ffd15b;
